# Ignore folders

# Ignore files in include directory
/include/*.xml
/include/*com.h
/include/*prm.h
/include/*.cod
/include/include_dir

*.txt
# Ignore Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
attic/
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

# Ignore build folder
build/
build/*
Src/Utility/SavModData

# Ignore vs upgrade log file
*Upgradelog*.htm

# Ignore sublime text files
*.sublime-workspace

# Ignore OS files
[Tt]humbs.db
*.DS_Store

# Ignore version control folders
.hg/
.git/

# Ignore libs
/lib/*.lib
/lib/vc_lib/
/comm/lib/CommInterface.lib
!/lib/AGLink.lib
!/lib/rfm2gdll_stdc_32.lib
!/lib/SentinelKeyW.lib
!/lib/SharedMemoryLib2.lib
Src/Model/Rm/rmdComLib/
rmAll.sln
/Src/Utility/Test/
*.ftp